openapi: 3.0.3
info:
  title: PersonService API
  description: This is the API of InfinityApp by jonnef
  version: 1.0.0
servers:
  - url: http://infinityapp-api.com
  - url: http://jonnef-api.com
paths:
  /person:
    description: Person Resource
    get:
      description: Operation to Fetch Persons
      parameters:
        - in: query
          name: username
          required: true
          schema:
            type: string
            example: jonnef
      responses:
        200:
          description: Success!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/persons'
    post:
      description: Add a new Person
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/person'
      responses:
        201:
          description: Successfully added
  /person{id}:
    description: Get Person based on Path Parameter
    get:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Success Response with Path Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/persons'
  /person{username}:
    description: Delete a Person by username
    delete:
      parameters:
        - in: path
          name: username
          required: true
          schema:
            type: string
      responses:
        200:
          description: Successfully deleted a Person
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nullObject'
components:
  schemas:
    person:
      type: object
      properties:
        PEID:
          type: integer
          nullable: false
        username:
          type: string
          example: mmuster
          nullable: false
        firstname:
          type: string
          example: Max
          nullable: false
        lastname:
          type: string
          example: Mustermann
          nullable: false
        dateOfBirth:
          type: string
          format: date
          example: 19.07.2000
          nullable: false
        gender:
          type: string
          example: male (male/female/diverse)
        weight:
          type: number
          format: double
          example: 76.4
        height:
          type: integer
          example: 187
    persons:
      type: array
      items:
        properties:
          PEID:
            type: integer
            nullable: false
          username:
            type: string
            example: mmuster
            nullable: false
          firstname:
            type: string
            example: Max
            nullable: false
          lastname:
            type: string
            example: Mustermann
            nullable: false
          dateOfBirth:
            type: string
            format: date
            example: 19.07.2000
            nullable: false
          gender:
            type: string
            example: male (male/female/diverse)
          weight:
            type: number
            format: double
            example: 76.4
          height:
            type: integer
            example: 187
    nullObject:
      type: integer
      example:
      nullable: true
      
